.welcome--slide{
    pointer-events: none;
}

.welcome--header{
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 24px;
}
