

.hand--icon--wrapper
{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 23px;
}

.hand--icon
{
    width: 50px;
    height: 50px;
}

.welcome--menu__test{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #859ADE;
    z-index: 1;
}

.pre-title {
 font-weight: 700;
    color: white;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight:900;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1px;

    color: white;
 }
